@import '_header';
@import '_footer';
@import '_roundBtn';
body.modal-open {
    overflow: hidden !important;
}

body.modal-open .fixed-bottom {
    padding-right: 16px !important;
}

.table-responsive {
    overflow-x: hidden !important;
}

.break-word {
    word-break: break-word;
}

.dataTables_scrollHeadInner,
.dataTables_scrollFootInner,
.table_fullwidth {
    width: 100% !important;
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

// .btn-file {
//     position: relative;
//     overflow: hidden;
// }
// .btn-file input[type=file] {
//     position: absolute;
//     top: 0;
//     right: 0;
//     min-width: 100%;
//     min-height: 100%;
//     font-size: 100px;
//     text-align: right;
//     filter: alpha(opacity=0);
//     opacity: 0;
//     outline: none;
//     background: white;
//     cursor: inherit;
//     display: block;
// }
// .img-preview{
//     width: 100%;
// }
.rowResults {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    .row-input {
        width: 15%;
    }
}

.pageWrapper {
    display: flex;
    justify-content: flex-end;
    .pageNumInput {
        width: 20%;
        margin: auto 10px;
        margin-top: -10px;
    }
}

.pageInput::-webkit-outer-spin-button,
.pageInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pageInput {
    -moz-appearance: textfield;
}

#search-input-wrapper {
    display: none;
}

// .row-input{
//     width:15%;
// }
// .rowNum{
//     width:15%;
//     margin: 0 10px;
// }
// .rowResults{
//     position: relative;
//     top:50%;
//     transform: translateY(-50%);
// }
@media (max-width: 576px) {
    .textBreak {
        display: none;
    }
    .iconBreak {
        display: inline-block;
    }
    header {
        .logo {
            width: 70%;
        }
    }
    .container {
        width: 95% !important;
    }
    .rowResults {
        margin: 10px 0;
        .row-input {
            width: 50% !important;
        }
    }
}

@media (min-width: 576px) {
    .textBreak {
        display: none;
    }
    .iconBreak {
        display: inline-block;
    }
    header {
        .logo {
            width: 65%;
        }
    }
}

// @media (max-width: 768px) {
//     #customer-search {
//         transform: translateY(-45%);
//     }
//     .customer-search-nothing {
//         transform: translateY(-75%)!important;
//     }
//     .search-result-spinner {
//         transform: translateY(-163%);
//     }
// }
@media (min-width: 768px) {
    .textBreak {
        display: inline-block;
    }
    .iconBreak {
        display: none;
    }
    header {
        .logo {
            width: 80%;
        }
    }
}

@media (min-width: 992px) {
    .textBreak {
        display: inline-block;
    }
    .iconBreak {
        display: none;
    }
    header {
        .logo {
            width: 60%;
        }
    }
}

@media (min-width: 1200px) {
    .textBreak {
        display: inline-block;
    }
    .iconBreak {
        display: none;
    }
    header {
        .logo {
            width: 50%;
        }
    }
}